/*
 * Project:     AngryHeads
 * Description: Proof-of-concept on the idea of TokBox's
 *              OpenTok API mashed with the game
 *              mechanics of Angry Birds          
 * Website:     http://ezraezraezra.com/tb/AngryHeads
 * 
 * Author:      Ezra Velazquez
 * Website:     http://ezraezraezra.com
 * Date:        November 2011
 * 
 */
@font-face {
	font-family: Folk; src: url('../assets/PermanentMarker.ttf');
}
body {
	background-color: #572F13;
	/*
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.21, #572F13),
		color-stop(0.41, #736E1E) );*/
}
#canvas_background {
	width: 1152px;
	height: 525px;
	background-color: #CCCCCC;
	position: absolute;
	left: 0;
	top: 0;
}
#sky {
	height: 475px;
	width: 1152px;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.21, #e4f7fa),
		color-stop(0.41, #d6f2f9) );
}
#land {
	height: 50px;
	background-color: #6C0;
}
.ele {
	width: 50px;
	height: 50px;
	background-color: #FFFFFF;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	float: left;
	position: absolute;
}
.ele1 {
	margin-left: 54px;
	margin-top: 15px;
}
.ele2 {
	margin-top: 29px;
}
.ele3 {
	margin-top: 5px;
	margin-left: 13px;
}
.ele4 {
	margin-top: 39px;
	margin-left: 32px;
}
#cloud_1 {
	width: 110px;
	height: 100px;
	overflow: hidden;
	margin-left: 50px;
	padding-top: 10px;
	-webkit-animation-name: cloudAnimation1;
	-webkit-animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	background-color: transparent;
}
#cloud_2 {
	width: 110px;
	height: 100px;
	overflow: hidden;
	margin-top: 5px;
	margin-left: -150px;
	padding-top: 10px;
	-webkit-animation-name: cloudAnimation2;
	-webkit-animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	background-color: transparent;
}
#cloud_3 {
	width: 110px;
	height: 100px;
	overflow: hidden;
	margin-left: -50px;
	padding-top: 10px;
	-webkit-animation-name: cloudAnimation3;
	-webkit-animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	background-color: transparent;
}
#cloud_4 {
	width: 110px;
	height: 100px;
	overflow: hidden;
	margin-top: -190px;
	margin-left: -50px;
	padding-top: 10px;
	-webkit-animation-name: cloudAnimation4;
	-webkit-animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	background-color: transparent;
}
@-webkit-keyframes cloudAnimation1 {
	0%{margin-left:-60px;}
	100%{margin-left:1052px;}
}
@-webkit-keyframes cloudAnimation2 {
	0%{margin-left:-180px;}
	100%{margin-left:932px;}
}
@-webkit-keyframes cloudAnimation3 {
	0%{margin-left:-360px;}
	100%{margin-left:692px;}
}	
@-webkit-keyframes cloudAnimation4 {
	0%{margin-left:-270px;}
	100%{margin-left:782px;}
}	
#container_game {
	position: absolute;
	background-color: transparent;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
	cursor:pointer;
	z-index: 10;
}
#game_canvas {
	position: absolute;
	background-color: transparent;
	left: 0;
	top: 0;
	z-index: 1;
}
#missle {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: transparent;
	top: 325px;
	left: 120px;
	cursor:pointer;
	visibility:visible;
}
#module_button_close {
	position: relative;
	width: 150px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F2C432;
	margin-top: 7px;
	font-family: Folk;
	font-size: 24px;
	cursor:pointer;
	display:none;
	line-height: 24px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px #000000;
}
#module_camera {
	position: absolute;
	z-index: 500;
	top: 200px;
	left: 37%;
	width: 270px;
	height: 275px;
	background-color: #97AF22;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #000000;
	/*border:#000000 solid 2px;*/
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}
#modal_cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
}
#module_instructions {
	margin-top: 10px;
	font-family: "Lucida Grande";
}
#module_title {
	position: absolute;
	top: -68px;
	left: -108px;
	font-family: Folk;
	font-size: 60px;
	color: #F2C432;
	text-align: center;
	-webkit-transform:rotate(-7deg);
}
#publisher_camera {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 264px;
	height: 198px;
	background: purple;
}
#container_next_player {
	position: relative;
	width:  800px;
	height: 75px;
	background-color: #F2C432;
	z-index: 10;
	top: 540px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 75px;
}
#next_player_title {
	height: 75px;
	position: relative;
	float: left;
	width: 300px;
	background-color: transparent;
	font-family: Folk;
	font-size: 36px;
	line-height: 70px;
	text-align: center;
}
#next_player_holder {
	position: relative;
	float:left;
	width: 500px;
	text-align: center;
	height: 75px;
}
#main_title {
	position: absolute;
	top: -15px;
	left: 15px;
	font-family: Folk;
	font-size: 60px;
	color: #F2C432;
	display: none;
	z-index: 100;
}
#player_status {
	position: relative;
	width: 800px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	top: 525px;
	font-family: Folk;
	font-size: 36px;
	line-height: 55px;
	text-align: center;
	color: #97AF22;
}
